ws-support/core/src/it/resources/META-INF/ws/xsd/CalculatorTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2013-2015 by The SeedStack authors. All rights reserved.

    This file is part of SeedStack, An enterprise-oriented full development stack.

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://seedstack.org/wsdl/seed/calculator/">
    <xs:complexType name="ImaginaryNumber">
        <xs:sequence>
            <xs:element name="real">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="imaginary">
                <xs:simpleType>
                    <xs:restriction base="xs:int"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>