spring-support/core/src/main/resources/META-INF/schemas/spring-support-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2013-2015 by The SeedStack authors. All rights reserved.

    This file is part of SeedStack, An enterprise-oriented full development stack.

    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

-->
<xsd:schema xmlns="http://seedstack.org/xml-schemas/spring-support"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://seedstack.org/xml-schemas/spring-support"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="instance">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="class" type="xsd:string" use="required"/>
                    <xsd:attribute name="qualifier" type="xsd:string" use="optional"/>
                    <xsd:attribute name="proxy" type="xsd:boolean" use="optional" default="true"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>